@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('../Hertical Sans Texture/ForestItalicPersonalUseBoldItalic-MVmjw.ttf') format('truetype'), /* TrueType Font */
         
        
url('caminho-para-fonte.minhafonte.woff') format('woff'); /* Web Open Font Format */
}

body{
    background-color: rgb(38,37,41);
}
.popup{
    font-family: sans-serif;
}
span{
    font-family: sans-serif;
}
*{
    font-family: 'MinhaFontePersonalizada';
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    margin-top: 5vh;
   
}
.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
   
}
.box2 {
    flex: 1;
    border: 1px solid #000;
    color: black;
    margin: 1vh;
    padding: 1,5vh;
    border-radius:3vh;
    height: 35vh;
    width: 50vh;
    background-color: rgb(255, 222, 89);
    display: flex;
    justify-content: space-between;
    right: 40vh;
    margin-right: 2vh;
    text-decoration: none;
    transition: 0.25s ease;
}
#hominho{
    margin-top: 5vh;
    margin-bottom: auto;
    margin-left: 6vh;
}
#hominho img{
    height: 20vh;
}
.box {
    flex: 1;
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
    border-radius:5vh;
    background-color: rgb(255, 222, 89);
    display: grid;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.25s ease;
}
.box-container {
    display: flex;
    height: 50vh;
    font-size: 2rem;
    gap: 5 vh;
    margin-top: 3vh;
}
#img1{
    width: auto;
    height: 30vh;
    justify-content: center;
}
#img2{
    height: 10vh;
}
#imgPrincipal{
    height: 30vh;
}
.titulo{
    size-adjust: 1rem;
    display: flex;
    font-size: 1rem;
    color: rgb(238, 239, 239);
}
#vender{
    margin-top: 10vh;
    margin-right: 8vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.botao {
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-align: center;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    background-color: rgb(255, 222, 89);
    font-weight: bold;
    color: black;
    transition: 0.25s ease;
    width: 50px; /* Ajuste a largura conforme necessário */
    height: 25px;
}

.box:hover{
    background-color: #3a2e2e10;
    color: rgb(255, 222, 89);
    border: 5px solid rgb(255, 222, 89);
    cursor: pointer;
}

.box2:hover{
    background-color: #3a2e2e10;
    color: rgb(255, 222, 89);
    border: 5px solid rgb(255, 222, 89)
}
.botao:hover {
    background-color: #3a2e2e10;
    color: rgb(255, 222, 89);
}
/* Adicione este bloco no seu arquivo de estilo CSS (styleAdega.css) */
/* Adicione este bloco ao seu arquivo de estilo CSS (styleAdega.css) */
#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: unset;
}

.modal-content {
    background-color: rgb(255, 222, 89);
    margin: 10% auto;
    padding: 10px;
    border-radius: 5vh;
    width: 80%;
    height: 60%;
    display: grid;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.25s ease;
}

#fecharModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#fecharModal:hover,
#fecharModal:focus {
    color: black;
    text-decoration: none;
    font-family: 'MinhaFontePersonalizada';
    cursor: pointer;
}
select {
    border-radius: 10px; /* Adicione esta linha para tornar os campos mais arredondados */
    padding: 10px; /* Adicione preenchimento para espaçamento dentro dos campos */
    background-color: rgba(26, 25, 29, 0.932);
    border: 2px solid gold;
    color: gold;
}
.pergunta{
    text-align: center;
    margin: 10px 0;
    border-radius: 10px; /* Adicione esta linha para tornar as caixas de resposta mais arredondadas */
    padding: 10px; /* Adicione preenchimento para espaçamento dentro das caixas de resposta */
}

@media (max-width: 768px) {
    .container,
    .top-container,
    .box-container {
        flex-direction: column;
        text-align: center;
    }

    img {
        margin: 0 auto;
    }

    #hominho {
        display: none;
    }

    .box2 {
        width: 90vw;
        right: 0;
        margin: 2vh auto;
        text-align: center;
        position: relative;
    }
    #vender{
        display: block;
    }
   
    .botao {
        position: fixed;        
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }


}
