@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('../textura/ForestItalicPersonalUseBoldItalic-MVmjw.ttf') format('truetype'), /* TrueType Font */
         
        
url('caminho-para-fonte.minhafonte.woff') format('woff'); /* Web Open Font Format */
}
*{
    font-family: 'MinhaFontePersonalizada';
}

header {
    padding: 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    background-color: rgb(38,37,41);
    
}
.header-logo img {
    max-width: 30vh;
    margin-top: -20px;  
}
body{
    background-color: rgb(38,37,41);
}

main{
    width: 80%;
    margin: 13.5%;
}

.texto{
    color: rgb(255, 222, 89) ;
    display: flex;
    flex-direction: column; /* Adicione uma coluna para empilhar o texto */
    align-items: center;

  
}
.botao{
    height: auto;   
    width: 300vh;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}
.botao,
.botaov{
    padding: 0.3em 0.5em;
    text-decoration: none;
    border: 1px solid #cccccc00;
    border-radius: 1vh;

 ; /* Defina a largura como 100% para ocupar o espaço disponível */ /* Defina um valor máximo se desejar limitar a largura */
    background-color: rgb(255, 222, 89);
    font-weight: bold;
    color: black;
    bottom: 0;
}


.botaov{
    width: 100%;
   
}
.botaov:hover,
.botao:hover {
    background-color: #3a2e2e10;
    color:rgb(255, 222, 89);
}

.lista{
    list-style: none;
    display: flex; /* Altere para display flex */
    flex-direction: column; /* Alinhe verticalmente as perguntas em uma coluna */
    align-items: center; /* Centralize verticalmente o conteúdo */
    padding: 0; 
}
.pergunta{
    text-align: center;
    margin: 10px 0;
    border-radius: 10px; /* Adicione esta linha para tornar as caixas de resposta mais arredondadas */
    padding: 10px; /* Adicione preenchimento para espaçamento dentro das caixas de resposta */
}

form{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}

fieldset {
    border-color: rgb(255, 222, 89);
    border-width: 5px;
    width: 80%;
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 20px; /* Adicionar mais espaço interno */
    border-radius: 20px;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.093); 
    font-size: 1.2rem;
    height: auto;
    margin-bottom: 20px;
}
input {
    border-radius: 10px; /* Adicione esta linha para tornar os campos mais arredondados */
    padding: 10px; /* Adicione preenchimento para espaçamento dentro dos campos */
    background-color: rgba(26, 25, 29, 0.932);
    border: 2px solid  rgb(255, 222, 89);
    color: rgb(255, 222, 89);
    font-family: sans-serif;
    width: 96%;
}

select {
    border-radius: 10px; /* Adicione esta linha para tornar os campos mais arredondados */
    padding: 10px; /* Adicione preenchimento para espaçamento dentro dos campos */
    background-color: rgba(26, 25, 29, 0.932);
    border: 2px solid gold;
    color: gold;
    width: 100%;
    height: auto;
}
h1{
    display: flex;
    align-items: center;
}


@media(max-width: 1000px) {
    header {
        flex-direction: column;
    }

    .header-logo img {
        margin-bottom: 0;
    }

    .h1 {
        margin-top: 10px;
        margin-right: none;
        
    }
    label {
        margin-right: 0px;
    }

    fieldset {
        height: 100%;
        font-size: 1.5rem;
    }

    form {
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    input {
        height: 2vh;
    }
    botaov {
        font-size: 3rem;
    }
    .texto {
        margin-bottom: 20px;
        /* Adiciona esta linha para aumentar o espaço entre o texto e os elementos */
    }
    select {
        height: 3.5vh;
    }

    .botao {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3vh;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        font-size: 2rem;
    }
}
