@font-face {
    font-family: 'MinhaFontePersonalizada';
    src: url('Hertical Sans Texture/ForestItalicPersonalUseBoldItalic-MVmjw.ttf') format('truetype'), /* TrueType Font */
         
        
url('caminho-para-fonte.minhafonte.woff') format('woff'); /* Web Open Font Format */
}
*{
    font-family: 'MinhaFontePersonalizada';
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3rem;
    margin-top: 5vh;
   
}
.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
   
}
.box2 {
    flex: 1;
    border: 1px solid #000;
    margin: 1vh;
    padding: 1,5vh;
    border-radius:3vh;
    height: 35vh;
    width: 50vh;
    background-color: rgb(255, 222, 89);
    display: flex;
    justify-content: space-between;
    right: 40vh;
    margin-right: 2vh;
}
#hominho{
    margin-top: 5vh;
    margin-bottom: auto;
    margin-left: 6vh;
}
#hominho img{
    height: 20vh;
}
.box {
    flex: 1;
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
    border-radius:5vh;
    background-color: rgb(255, 222, 89);
    display: grid;
    justify-content: center;
}
.box-container {
    display: flex;
    height: 50vh;
    font-size: 2rem;
    gap: 5 vh;
    margin-top: 3vh;
}

body{
    background-color: rgb(38,37,41);
    font-family: 'MinhaFontePersonalizada', sans-serif;
  
}
#img1{
    width: auto;
    height: 30vh;
    justify-content: center;
}
#img2{
    height: 10vh;
}
#imgPrincipal{
    height: 30vh;
}
.titulo{
    size-adjust: 1rem;
    display: flex;
    font-size: 1rem;
    color: rgb(238, 239, 239);
}
#vendaMensal {
    color: white;
}
#estoqueGeral{
    color: white;
}
#vender{
    margin-top: 10vh;
    margin-right: 8vh;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.botao {
    display: inline-block;
    padding: 0.3em 0.5em;
    text-decoration: none;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    background-color: rgb(255, 222, 89);
    font-weight: bold;
    color: black;
  }
  .botao:hover {
    background-color: #3a2e2e10;
    color:rgb(255, 222, 89);
}
